In [1]:
import pandas as pd
from scipy import stats

In [4]:
data = pd.read_csv('file.txt', sep = '\t')

In [5]:
data

                     Species   CPAT   CPC2  RNAcon  RNAmining  Transdecoder
0        Anolis carolinensis  94.55  86.87   83.03      98.79         88.26
1     Chrysemys picta bellii  92.56  89.01   82.36      98.00         84.80
2         Crocodylus porosus  94.07  92.48   84.32      98.15         87.63
3                Danio rerio  94.64  87.17   80.97      97.98         87.74
4         Eptatretus burgeri  95.59  78.82   75.84      97.56         76.26
5              Gallus gallus  96.95  90.69   75.81      99.24         83.50
6               Homo sapiens  95.20  75.85   71.73      98.50         76.02
7        Latimeria chalumnae  99.57  91.60   97.45      99.57         98.86
8      Monodelphis domestica  96.24  91.44   80.90      98.84         85.22
9               Mus musculus  95.48  81.40   76.78      97.73         80.80
10         Notechis scutatus  85.19  86.29   84.83      96.51         83.44
11  Ornithorhynchus anatinus  87.47  72.04   84.73      97.61         84.63
12        Petromyzon marinus  96.59  75.14   95.11      99.42         96.68
13       Sphenodon punctatus  97.61  91.91   97.86      99.20         95.24
14        Xenopus tropicalis  99.07  97.92   98.70      99.13         97.77

In [7]:
teste = data['RNAmining']
teste

0     98.79
1     98.00
2     98.15
3     97.98
4     97.56
5     99.24
6     98.50
7     99.57
8     98.84
9     97.73
10    96.51
11    97.61
12    99.42
13    99.20
14    99.13
Name: RNAmining, dtype: float64

# Perform t-student test to visualize if RNAmining results are significantly better than the other tools

In [12]:
stats.ttest_ind(data['RNAmining'], data['CPC2'], equal_var=False)

Ttest_indResult(statistic=6.360058858873139, pvalue=1.5692851180420724e-05)

In [13]:
stats.ttest_ind(data['RNAmining'], data['CPAT'], equal_var=False)

Ttest_indResult(statistic=3.5950567535022735, pvalue=0.0025629572987713586)

In [14]:
stats.ttest_ind(data['RNAmining'], data['RNAcon'], equal_var=False)

Ttest_indResult(statistic=6.062145675179486, pvalue=2.6928382089816133e-05)

In [15]:
stats.ttest_ind(data['RNAmining'], data['Transdecoder'], equal_var=False)

Ttest_indResult(statistic=5.999843244424179, pvalue=2.8938747196356847e-05)